<div class="navbar_meetandeat_">
    <img class="nav_logo_" src="../assets/images/Logo (2).png" alt="Meet and Eat-Logo">
    <img class="nav_profile_" src="../assets/images/profilepic.png" alt="Profile Picture">
    <img class="nav_username_" src="../assets/images/azubiname.png" alt="User-Name">
    <h6>Auszubildende</h6>
    <div class="icon_navigation_">
      <a class="icon_flex_" href="#">
        <img class="nav_icons_" src="../assets/images/home_icon.png" alt="Home-Icon">
        <p>All Events</p>
      </a>
      <a class="icon_flex_" href="#">
        <img class="nav_icons_" src="../assets/images/pin_icon.png" alt="Pin-Icon">
        <p>Pinned Events</p>
      </a>
      <a class="icon_flex_" href="#">
        <img class="nav_icons_" src="../assets/images/kalender_icon.png" alt="Kalender-Icon">
        <p>My Events</p>
      </a>
      <a class="icon_flex_" href="#">
        <img class="nav_icons_" src="../assets/images/invitation_icon.png" alt="Invitation-Icon">
        <p>Invitations</p>
      </a>
      <span>
        <div class="line_span_"></div>
      </span>
      <a class="icon_flex_" href="#">
        <img class="nav_icons_" src="../assets/images/eventicon.png" alt="Home-Icon">
        <p id="eventplaner_">Eventsplaner</p>
      </a>
    </div>
  </div>